<div class="crypt-show">
    <h2>Here's
        <%= crypt.name %>
    </h2>

    <img src="<%= crypt.img_url %>" alt="<%= crypt.name %>">

    <a href="/cryptids/edit/<%= crypt.id %>"> Edit <%= crypt.name %></a>
</div>